* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
	//background-color:rgb(197,221,255);
    background-image: linear-gradient(to right,rgb(190,221,255,0.75),rgb(190,221,255,0.75)) ,url(../images/fondo.jpg);
	//background-blend-mode:luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
	backdrop-filter: blur(4px);
	
	
	
}

.container-form {
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 350%;
    padding: 1rem 0;
	font-family: Cooper Black;
}

.message h1 {
	font-size : 350%;
	padding: 1rem 0;
	font-family: Cooper Black;
}

.formulario {

    width: 400px;
    padding: 1rem;
    margin: 2rem;
    //background-color: rgb(228, 246, 244);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.formulario p {
    border-width: 3px;
    border-color: black;

}

.formulario input {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}