* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
//background-color:rgb(197,221,255);
    background-image: linear-gradient(to right,rgb(190,221,255,0.75),rgb(190,221,255,0.75)) ,url(fondo.jpg);
//background-blend-mode:luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    backdrop-filter: blur(4px);

}
.datos {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: white;
    margin: 20px 0 25px;
    overflow: hidden;
    padding: 20px;
    border: 2px solid black;}

header {
    width: 100%;
    height: 50px;
    padding: 30px;
    position: fixed;
    background: #ffff;
}
menu {
    align-items: center;
    margin-top: 5%;
}
.ulmenu{
    list-style: none;
    margin: 0;
    font:16px Verdana;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
.limenu{
    float: left;
}
.limenu a{
    color: #000000;
    display: block;
    padding: 20px;
    text-decoration: black;
}
.datosleft{
    float: left;
}
.datosright{
    float: right;
}
.uldatosleft{
    float: left;
    list-style: none;
    margin: 0;
    font:16px Verdana;
    overflow: hidden;
    background-color: #ffffff;
}
.uldatosright{
    float: right;
    list-style: none;
    margin: 0;
    font:16px Verdana;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
.licampo{
    border:1px solid black;
    color: black;
    background-color: lightgray;
}

li a:hover{
    background-color: #d5d2d2;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin: 5px;
    background: white;
    overflow: hidden;
    border: 2px solid black;
}
div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
}
