* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color:rgb(197,221,255);
    background-image: linear-gradient(to right,rgb(190,221,255,0.75),rgb(190,221,255,0.75)), url(fondo.jpg);
    //background-blend-mode:luminosity;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container-form {
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}


.message h2 {
    font-size: 350%;
    padding: 1rem 0;
    font-family: Cooper Black, monospace;

}
.formulario {

    width: 400px;
    padding: 1rem;
    margin: 2rem;
    //background-color: rgb(228, 246, 244);
    text-align: center;
}

.formulario p {
    padding-top: 15px;
    border-width: 3px;
    border-color: black;
    text-align: left;
}
.formulario p1 {
    border-width: 3px;
    padd: 1px;
    border-color: black;
}


.formulario input {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: black thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #000000;
}

.formulario input[type="button"] {
    width: 60%;
    border: solid thin rgba(0, 0, 139, 0);
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin: 3rem auto auto;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}





